<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aspire.ssm.dao.DeviceDao">
    <!--  根据id查询得到一个user对象  -->
    <select id="selectById" parameterType="String" resultType="com.aspire.ssm.bean.Device">
        select * from tempDevice where deviceId=#{deviceId}
    </select>
    <!-- 在表中顺序插入对象 -->
    <insert id="insertDevice" parameterType="com.aspire.ssm.bean.Device">
         insert into tempDevice(deviceId,deviceName,firmVersion) values(#{deviceId},#{deviceName},#{firmVersion})
    </insert>
    
    <select id="selectAll" resultType="com.aspire.ssm.bean.Device">
        select * from tempDevice;
    </select>
    
    <delete id="deleteDevice" parameterType="String">
        delete from tempDevice where deviceId=#{deviceId}
    </delete>
    
    <select id="selectAllFormal" resultType="com.aspire.ssm.bean.DeviceFormal">
        select * from device;
    </select>
    
    <insert id="insertDeviceFormal" parameterType="com.aspire.ssm.bean.DeviceFormal">
        insert into device(deviceId, deviceName, firmVersion, deviceStatus) values(#{deviceId},#{deviceName},#{firmVersion},#{deviceStatus})
    </insert>
</mapper>